@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* TYPOGRAPHY */

    --type-scale: 0.8;
    --type-scale-base: 0.85;
    --type-scale-sm: 0.9;
    --sm: calc(0.875em * var(--type-scale-sm));
    --base: calc(1em * var(--type-scale-base));
    --h3: calc(1.5rem * var(--type-scale));
    --h2: calc(1.75rem * var(--type-scale));
    --h1: calc(2.25rem * var(--type-scale));

    /* LINE HEIGHT */

    --slh: 120%;
    --llh: 150%;

    /* COLOR */

    --black-300: 19 19 22;
    --gray-50: 239 241 246;
    --gray-400: 86 97 107;
    --green-50: 227 252 242;
    --green-400: 14 161 99;
    --orange-300: 167 122 7;
    --orange-600: 255 84 3;
    --red-50: 249 227 224;
    --white: 255 255 255;
  }

  body {
    font-family: theme("fontFamily.degular");
    min-height: 100vh;
  }

  @media only screen and (min-width: theme("screens.md")) {
    :root {
      --type-scale-base: 0.9;
      --type-scale-sm: 0.95;
      --type-scale: 0.9;
    }
  }

  @media only screen and (min-width: theme("screens.xl")) {
    :root {
      --type-scale-base: 1;
      --type-scale-sm: 1;
      --type-scale: 1;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
  }

  .app-bar {
    align-self: flex-end;
    box-shadow:
      0px 6px 12px 0px #5c738314,
      0px 4px 8px 0px #5c738314;
  }

  .app-bar svg {
    display: inline-block;
  }

  .modal-open {
    overflow: hidden;
  }

  .filter-content > form {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .filter-content .react-datepicker-wrapper {
    width: 100%;
  }
}
