@tailwind components;

@layer components {
  .nav-bar > section {
    box-shadow:
      0px 2px 4px 0px #2d3b430d,
      0px 2px 6px 0px #2d3b430f;
    border-radius: 100px;
    border: 2px solid #fff;
  }

  .active {
    background: theme("colors.black.300");
    color: theme("colors.white");
    border-radius: 100px;
  }

  .active svg .nav-icon {
    fill: theme("colors.white");
  }
}
