@tailwind components;

@layer components {
  .transaction-item {
    display: grid;
    grid-template-columns: 32px 1fr auto;
    align-items: center;
  }

  @media only screen and (min-width: theme("screens.lg")) {
    .transaction-item {
      grid-template-columns: 48px 1fr auto;
    }
  }
}
