@tailwind components;

@layer components {
	.custom-select-wrapper .caret {
		transition: transform 0.3s ease-out;
		-moz-transition: transform 0.3s ease-out;
		-webkit-transition: transform 0.3s ease-out;
	}

	.custom-select-wrapper .caret.turn {
		transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}

	.select-btn {
		display: grid;
		grid-template-columns: 1fr 20px;
		align-items: center;
		width: 100%;
	}

	.select-btn span {
		white-space: nowrap;
		overflow: hidden;
	}

	.ds-select__overylay {

	}
}
